<span id="@(Row + '-' + Col)" class="snek-cell @_extraCss"></span>

@code {

    [Parameter] public int Row { get; set; }
    [Parameter] public int Col { get; set; }
    [Parameter] public CellsType Value { get; set; }
    [Parameter] public Direction SnekDirection { get; set; }

    private string _extraCss = "";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        switch (Value)
        {
            case CellsType.SnekHead:
                string rotationDir = SnekDirection.ToString();
                _extraCss = $"snek-cell-head snek-head-{rotationDir.ToLower()}";
                break;
            case CellsType.Snek:
                _extraCss = "snek-cell-snek";
                break;
            case CellsType.Food:
                _extraCss = "snek-cell-food";
                break;
            default:
                _extraCss = "snek-cell-empty";
                break;
        }
    }

}
