@page "/best-sneks"
@attribute [Authorize]
@attribute [StreamRendering]
@inject GameService GameService;

@using Web.Services

<PageTitle>Best Sneks</PageTitle>

<h3>Best Sneks</h3>

@if (_scores is null)
{
	<p><em>Loading...</em></p>
}
else if (_scores.Count == 0)
{
	<p>No highsneks yet :(</p>
}
else
{
	<table class="table">
		<thead>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Score</th>
			<th>Time</th>
			<th/>
		</tr>
		</thead>
		<tbody>
		@for (int i = 0; i < _scores.Count(); i++)
		{
			<tr>
				<td>@(i + 1)</td>
				<td><a href="stats/@_scores[i].User.Id">@_scores[i].User.UserName</a></td>
				<td>@_scores[i].Points</td>
				<td>@_scores[i].Timestamp.ToLocalDateTimeString()</td>
				<td>
					@if (_scores[i].ReplayData is not null)
					{
						<a class="btn btn-primary p-0 px-1" href="watch/@_scores[i].Id">Watch replay</a>
					}
				</td>
			</tr>
		}
		</tbody>
	</table>
}


@code {

	private List<Score>? _scores;

	protected override async Task OnInitializedAsync()
	{
		_scores = await GameService.GetTopScores(10);
	}

}
